.serena/

# Build
build/
cmake-build-*/
prefix/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# IDE
.idea/
.vs/
.vscode/
CMakeLists.txt.user

# OS
**/.DS_Store

# Tooling
.clangd
compile_commands.json
